[push]
    default = simple
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    le = log -p
    lf = log --stat
    lg = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%cn%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lge = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%cn <%ae>%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lr = log --graph --pretty=format:'%Cred%h%Creset - %Cblue%cn%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --since=yesterday
    who = shortlog -s --
    rv = checkout --
    ua = reset HEAD
    uc = reset HEAD~1
[core]
	excludesfile = ~/.gitignore_global
